---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Welcome to santinuin.dev</h1>
  <p>This is the homepage of my personal website.</p>
  <p>Feel free to explore and learn more about me!</p>
  <button onclick="alert('Hello, world!')">Click Me!</button>
</Layout>
