---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Santiago Nuñez Ingas</h1>
    <p>
      <span class="text-green">Web Developer</span> -
      <span class="text-purple">Psychologist</span> -
      <span class="text-pink">Melomaniac</span>
    </p>
    <p>Feel free to explore and learn more about me!</p>
    <Button text="Hit Me!" href="/details/about" />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    height: 50vh;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  span {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .text-pink {
    color: var(--pink);
  }

  .text-purple {
    color: var(--purple);
  }

  .text-green {
    color: var(--green);
  }
</style>
