---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<section class="detail-container cyberpunk-border" id="detail-container">
    <h2 class="cyberpunk-header">{title}</h2>
    <div class="content-wrapper">
        <slot class="content-wrapper" />
    </div>
</section>

<style>
    .detail-container {
        padding: 20px;
        margin-top: 20px;
        border-radius: 8px;
        background-color: var(--color-background);
        animation: fadeIn 0.5s ease-in-out;
    }

    .cyberpunk-header {
        color: var(--color-heading);
    }

    .cyberpunk-border {
        border: 2px solid var(--content-color-border);
        box-shadow:
            0 0 10px var(--content-color-border),
            0 0 20px var(--content-color-border),
            0 0 30px var(--content-color-border);
    }

    .content-wrapper :global(p) {
        color: var(--content-text);
        text-align: justify;
    }
</style>
