<footer>
    <p>© 2025 Santiago Nuñez Ingas. All rights reserved.</p>
</footer>

<style>
    footer {
        /* Layout */
        display: flex;
        justify-content: center;
        align-items: center;
        
        /* Positioning */
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        
        /* Dimensions */
        height: 3rem;
        
        /* Typography */
        color: var(--gray);
        font-size: 0.875rem;
    }
</style>
