<footer>
    <p>© 2025 Santiago Nuñez Ingas. All rights reserved.</p>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        color: var(--gray);
        font-size: 0.875rem;
        margin-top: auto;
    }
</style>
