<footer>
    <p>© 2025 Santiago Nuñez Ingas. All rights reserved.</p>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3rem;
        color: var(--gray);
        font-size: 0.875rem;
    }
</style>
